.news {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1050px;
  }

  &__select {
    width: 180px;
  }

  &__search {
    width: 730px;
  }
}
