.news {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1250px;
  }

  &__select {
    width: 180px;
  }

  &__search {
    width: 730px;
  }

  &__featured-button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
  }
}
